*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Bhaina 2', cursive;
    background: #ffc8d0;
}

.wrapper{
    display: flex;
    gap: 2rem 10rem;
    justify-content: center;
    flex-wrap:wrap;
    align-content: end;
    margin-top: 1rem;
}

.drawer{
    background: white;
    padding: 1rem 0.7rem;
    min-width:300px;
    border-radius: 5px;
}

.drawer__link{
    display: flex;
    align-items: center;
    gap: 3rem;
    /* justify-content: space-between; */
}

.drawer__icons>a{
    text-decoration: none;
    color: black;
    margin-top:1rem;
    font-size: 1.2rem;
}

.drawer__icons>a:focus{
    color:pink;
    background: rgb(139, 255, 255);
    border-radius: 10px;
    padding:0.5rem 1rem;
    font-size: 1.3rem;
}

.icon-right>i{
    margin-left: auto;
}